.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo-container>img{
    width: 150px;
}
ul{
    display: flex;
    margin-right: 50px;
    list-style: none;
}
ul>li{
    padding: 15px;
    cursor: pointer;
    text-decoration: underline;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
    margin: 16px;
    justify-content: center;
}
.card{
    width:250px;
    background: #f0f0f0;
    border-radius: 10px;
    margin: 18px;
    color: black;
    text-decoration: none;
}
.card-link{
    text-decoration: none;
}

.card:hover{
    border: 1px solid black;
    cursor: pointer;
}
.card>img{
    width: 250px;
    height: 180px;
    border-radius: 10px;
}
.filter-btn{
    display: flex;
    margin-top: 20px;
}
.filter-btn>button{
    margin: auto;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.shimmer-card{
    width:250px;
    height: 300px;
    background: #f0f0f0;
    border-radius: 10px;
    margin: 18px;
}
.log-btn{
    padding: 0px 15px;
    border-radius: 10px;
    background-color: rgb(130, 130, 205);
}
.search-container{
    margin: auto;
    display: flex;
    
}
.filter-btn{
    padding: 10px 10px;
    margin: 5px;
    border-radius: 15px;
}
.search-input{
    width: 400px;
    height: 40px;
    font-size: large;
    border-radius: 10px;
}
.menue-container>ul{
    display: block;
}
.offline{
    color: red;
}
.nav-container>ul>li{
    text-decoration: none;
    color: black;
} 
.nav-container>ul>li>a{
    text-decoration: none;
    color: black;
} 
